Beltway.Malawi.StockUpdate/Malawi_Stockupdate.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://Beltway.Malawi.StockUpdate.Malawi_Stockupdate" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Stockdetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProductCode" type="xs:string" />
        <xs:element minOccurs="0" name="Level" type="xs:unsignedByte" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>