Beltway.NotifyOvercommittedStock/TypedPolling.Test.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.microsoft.com/Sql/2008/05/TypedPolling/Test" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/Sql/2008/05/TypedPolling/Test" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:annotation>
    <xs:appinfo>
      <fileNameHint xmlns="http://schemas.microsoft.com/servicemodel/adapters/metadata/xsd">TypedPolling.Test</fileNameHint>
    </xs:appinfo>
  </xs:annotation>
  <xs:complexType name="TypedPollingResultSet0">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="n_WarehouseId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="n_productid" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="n_level" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="y_WarehouseId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="y_productid" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="y_level" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TypedPollingResultSet0" nillable="true" type="tns:TypedPollingResultSet0" />
  <xs:complexType name="ArrayOfTypedPollingResultSet0">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TypedPollingResultSet0" type="tns:TypedPollingResultSet0" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTypedPollingResultSet0" nillable="true" type="tns:ArrayOfTypedPollingResultSet0" />
  <xs:element name="TypedPolling">
    <xs:annotation>
      <xs:documentation>
        <doc:action xmlns:doc="http://schemas.microsoft.com/servicemodel/adapters/metadata/documentation">TypedPolling</doc:action>
        <doc:description xmlns:doc="http://schemas.microsoft.com/servicemodel/adapters/metadata/documentation">EXEC [Beltway].[dbo].[spCompareStocks]</doc:description>
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="TypedPollingResultSet0" nillable="true" type="tns:ArrayOfTypedPollingResultSet0" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>